/* eventstyles.css */

/* General body styles */
body {
    padding: 10px;
    background-color: #F0F0F0;
}

/* Headings */
h1 {
    text-align: center;
    margin-bottom: 5px;
    background-color:#b781b7;
    padding: 15px;
}

h2 {
    margin: 0;
    text-align: center;
}

/* Table styles */
table {
    border-collapse: collapse;
    width: 80%;
    margin: 20px auto;
}

/* Table header styles */
th {
    border: 1px solid #333;
    padding: 8px;
    font-size: 18px;
    text-align: center;
    height: 20px;
    background-color: rgb(177, 177, 177)
}

/* Table cell styles */
td {
    border: 1px solid #333;
    padding: 8px;
    text-align: left;
    height: 15px;
}

/* Link styles */
a {
    text-decoration: none;
    color: black;
}

/* Hover effect for links */
a:hover {
    text-decoration: underline;
    color: blue;
}


